
.list-link{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border: 2px solid black;
  margin: 0;
  padding: 20px;
}

.header-list{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.nav-ul{
  display: flex;
  gap: 20px;
  list-style: none;

}