

body{
    display: block;
    width: 100%;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
   'Open Sans', 'Helvetica Neue', sans-serif;
}

.bggreen{
    background :#4DBA2F !important;
}
.bggreen:hover{
    background :greenyellow !important;
}


.bgdb{
      background-color: #0D2B4C;    
}

.bgligr{
    background-color: #4DBA2F14;
}

.bggr{
    background-color: #4DBA2F26;
}

.textgr{
    color: #4DBA2F;
}


.bggray{
    background-color: rgba(241, 241, 244, 1);
}


#mainrec{
display: block;
position: relative;
height: auto;
width: auto;
justify-content: center;
align-content: center ;
background: #FFFFFF;
}


#rec{
    width: 100%;
    position: relative;
}

#about{
    width: 100%;
    background:rgba(77, 186, 47, 0.08) ;
}

#contact{
    background:rgba(77, 186, 47, 0.08);
}

#form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 16px;

background: #FCFCFD;
box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.08);
border-radius: 8px;
}

.box{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(230, 230, 230, 1) ;

}

.boxt{
    box-sizing: border-box;
    border-top: 1px solid gray;
    width: 50%;
    justify-self: center;
    align-content: center;
}


footer{
 background-color: #4DBA2F14;
}




@media only screen and (max-width: 600px){

body{
    font-size: xx-small;
}

#wrap{
    display: flex;
    flex-wrap: wrap;

}

.mg{
    margin-top: 20px;
    margin-bottom: 20px;
}

#rec{
    width: 100%;
    position: relative;
    font-size: xx-small;
    
 
}

.none{
  display: none !important;
}

.sma{
  font-size: x-large;
}

.x-sma{
    font-size: small;
}

}


@media only screen and (min-width: 768px){

}


@media only screen and (min-width: 1200px){


    #nav{
    padding-right: 50px;
    padding-left: 50px;
}
}